html { 
    font-size: 100%; 
} 

div { 
    background: #fff; 
} 

h1 { 
    font-size: 32px; 
} 

p { 
    font-size: 20px; 
} 

.box { 
    margin: 10px; 
    border: 1px solid #666; 
} 

.box-1 { 
    padding: 0 1em; 
} 

.box-2 { 
    padding: 0 1rem; 
} 

.box-header { 
    background: #ddd; 
    font: bold 40px Arial, sans-serif; 
} 